/*font-family: 'Roboto Slab', serif;*/

body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

h1,
.footer {
    text-align: center;
}

.poem {
    text-align: center;
}

.author {
    font-weight: 700;
    font-size: 18px;
}

.footer {
    padding: 10px 0;
    font-size: 12px;
}